/* NAVBAR */

.divNavbarAdmin {
  display: flex;
  align-items: center;
  /* background-color: rgba(158, 22, 22, 0.733); */
  justify-content: space-between;
  height: 50px;
  background-color: rgba(158, 22, 22, 0.733);
}

.divLinksAdmin {
  /* margin-right: 780px; */
  font-family: "Amatic SC", cursive;
  margin-left: 10px;
}

.divLinksAdmin a {
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.divNavbarAdmin a:hover {
  color: rgba(255, 255, 255, 0.692);
  text-decoration: none;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.botonCerrarSesionAdmin {
  outline: none;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 25px;
  color: rgba(158, 22, 22, 0.733);
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8em;
  margin-right: -750px;
}

.botonCerrarSesionAdmin:hover {
  color: black;
  transform: translateY(-1px);
  box-shadow: 0 4px 4px #00000044;
}
