/* DIV-PRODUCTO ES EL DIV DEL PRODUCT CARDS */
.div-producto {
  width: 20%;
  max-width: 1200px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
/* COMPONENTE */
.card {
  width: 300px;
  height: 800px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  /* overflow: hidden; */
  margin: 70px 20px;
  text-align: center;
  transition: all 0.25s;
}

.div-productos .card:hover {
  transform: translateY(-1px);
  box-shadow: 0 12px 12px #00000044;
}

/* LETRAS */

.card p {
  color: black;
  /* margin: 10px; */
}

.titulo {
  flex-wrap: wrap;
  font-size: 1.2em;
  /* margin-top: 10px; */
  color: black;
  padding: 0px;
  font-family: "Noto Serif", serif;
}
.stock {
  margin-top: 15px;
  padding: 0;
  font-size: 0.9em;
  color: rgba(158, 22, 22, 0.733);
}

.stock span {
  color: black;
}

.precio {
  color: white;
  font-size: 2.4em;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}

.precio span {
  color: rgba(185, 30, 30, 0.774);
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* BOTON */
.boton-editar {
  background-image: url("https://c0.klipartz.com/pngpicture/529/757/gratis-png-iconos-de-la-computadora-tornillo-de-tuerca-thumbnail.png");
  background-size: 20px;
  width: 21px;
  height: 21px;
  border-radius: 50px;
  border: none;
}

.boton-comprar {
  background-color: rgba(185, 30, 30, 0.774);
  color: white;
  border-radius: 20px;
  height: 31px;
  width: 150px;
  border: none;
  font-family: "Great Vibes", cursive;
  font-size: 25px;
}

.div-boton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 3px;
  /* background-color: black; */
}

.div-precio {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-y-stock {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* IMAGEN */

.div-imagen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(158, 22, 22, 0.733);
  height: 320px;
  width: 100%;
}

.card img {
  width: 320;
  height: 100%;
}

/* SEGUNDA PARTE */

.nuevo-div {
  display: flex;
  align-items: center;
  width: 100%;
}

.div-img-dada {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(158, 22, 22, 0.733);
  width: 100%;
  height: 600px;
}

.div-img-dada img {
  border-radius: 15px;
  margin-left: 150px;
  height: 280px;
}

.div-texto-dada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 200px;
  color: white;
  font-family: "Noto Serif", serif;
}

.div-texto-dada p {
  margin-bottom: 80px;
  font-size: 2em;
  font-family: "Lobster", cursive;
}

.div-texto-dada h1 {
  margin-bottom: 80px;
  font-size: 4em;
  font-family: "Lobster", cursive;
}
