.textos-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

.textos-header h1 {
  margin-top: 30px;
  color: white;
  font-size: 6em;
}
.textos-header h2 {
  color: white;
}

.textos-header span {
  color: #c41919;
}
/* HEADER */
header {
  height: 310px;
  margin-top: -25px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-image: linear-gradient(
      to right,
      hsla(0, 71%, 21%, 0.37),
      hsla(0, 1%, 61%, 0.335)
    ),
    url("https://s1.1zoom.me/b6160/607/Wine_Black_background_Bottle_Stemware_512316_1920x1080.jpg");
}
