.divEditarProductos {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 30px; */
  height: 1800px;
  background-image: url("../img/nrgro.jpg");
  /* background-repeat: no-repeat; */
}
.edicion {
  width: 900px;
  height: 1700px;
  border-radius: 15px;
  margin: 0px;
  background-color: rgba(158, 22, 22, 0.733);
  justify-content: center;
}

.inputEditar {
  width: 95%;
  border: none;
  border-radius: 10px;
  margin: 0px 20px 15px 20px;
  height: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8em;
}
.imagenEdit {
  width: 150px;
  height: 250px;
  border-radius: 5px;
  margin-left: 5px;
  align-items: center;
}

.divImagenEditar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.edicion h5 {
  margin-left: 15px;
  margin-bottom: 0px;
  margin-top: 5px;
  color: white;
  font-family: "Amatic SC", cursive;
  font-size: 1.8em;
}

.edicion h3 {
  font-family: "Poiret One", cursive;
  font-size: 1.2em;
  font-weight: bold;
}

.edicion span {
  color: white;
  font-family: "Amatic SC", cursive;
  font-size: 1.3em;
}

.textoEditar {
  margin-left: 40px;
  margin-top: 5px;
}

.divBotonesEditar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.botonEliminar {
  width: 130px;
  font-size: 1.2em;
  height: 30px;
  background: linear-gradient(50deg, #ffffff, #d8262625);
  border-radius: 15px;
  margin: 15px;
  font-family: "Courier New", Courier, monospace;
  border: none;
  margin-right: 70px;
}
.botonListo {
  width: 130px;
  font-size: 1.2em;
  height: 30px;
  background: linear-gradient(50deg, #ffffff, #d8262625);
  border-radius: 15px;
  margin: 15px;
  font-family: "Courier New", Courier, monospace;
  border: none;
  margin: 5px;
}

.botonEliminar:hover {
  color: rgb(83, 80, 80);
  font-size: 1.1em;
}

.botonListo:hover {
  color: rgb(83, 80, 80);
  font-size: 1.1em;
}
