* {
  box-sizing: border-box;
  padding: 0%;
}

body {
  background-color: #c4c4c4;
}
/* DIV-APP GENERAL */

/* NAVBAR */

.divNavbar {
  display: flex;
  align-items: center;
  background-color: rgba(158, 22, 22, 0.733);
  justify-content: center;
  height: 47px;
}

.links {
  font-family: "Abel", sans-serif;
}

.Btn {
  border-radius: 0px;
  background-color: rgba(158, 22, 22, 0.808);
  margin-right: 30px;
  border: none;
}
