* {
  box-sizing: border-box;
  padding: 0%;
}

body {
  background-color: #c4c4c4;
}
/* DIV-APP GENERAL */

/* NAVBAR */

.boton {
  color: black;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  outline: none;
}

/* SEARCHBAR */
.buscador {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.input {
  border: none;
  background-color: #792d2d;
  outline: none;
  color: rgba(255, 255, 255, 0.678);
  font-size: 20px;
  border-radius: 20px;
  height: 40px;
  width: 250px;
  margin-right: -39px;
}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100%;
  z-index: 10;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
