.direccionDeEnvio {
  width: 500px;
  background: linear-gradient(50deg, #363131e1, #b43030);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-right: 15px;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  margin-top: 100px;
}

.direccionDeEnvio input {
  border: none;
  border-radius: 10px;
  margin: 10px 20px 15px 20px;
  height: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8em;
  width: 250px;
}

.direccionDeEnvio h1 {
  color: white;
}

.direccionDeEnvio button {
  margin-top: 20px;
  width: 80px;
  font-size: 0.8em;
  height: 25px;
  background: linear-gradient(50deg, #ffffff, #d8262625);
  font-family: "Courier New", Courier, monospace;
  border: none;
  border-radius: 10px;
  color: white;
}

.direccionDeEnvio button:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 2px #00000044;
}
