.divFondoDeDetalleDeProducto {
  background-image: linear-gradient(
    rgba(112, 69, 69, 0.904),
    rgba(209, 27, 27, 0.911)
  );
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 10px;
}
.divDetallesDeProducto h1 {
  margin-left: 40%;
  margin-bottom: 10px;
  color: white;
  font-family: "Great Vibes", cursive;
  font-size: 4em;
}

.divImagenDetalleProducto {
  align-items: center;
  display: flex;
  justify-content: center;
}

.divImagenDetalleProducto img {
  height: auto;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.divDescripcionDetalleProducto {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poiret One", cursive;
  color: white;
}
