* {
  box-sizing: border-box;
  padding: 0%;
}

.formulario {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 10px;
  justify-content: space-around;
  background-color: beige;
}

.iniciarSesion {
  width: 500px;
  background-color: rgba(158, 22, 22, 0.733);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-right: 15px;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
}

h1 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 2.8em;
  color: black;
}

.iniciarSesion input {
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  /* color: rgba(158, 22, 22, 0.733); */
  background-color: white;
  height: 30px;
  width: 215px;
  font-size: 0.8em;
}

.iniciarSesion button {
  background: #dd4b39;
  color: white;
}

.botonLogin {
  margin-top: 40px;
  width: 100px;
  height: 25px;
  border-radius: 50px;
}
