* {
  box-sizing: border-box;
  padding: 0%;
}

.divLogin {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 10px;
  justify-content: space-around;
  background-image: url("../img/mesa.jpg");
  height: 800px;
}

.iniciarSesion {
  margin-top: 40px;
  width: 500px;
  background-color: rgba(158, 22, 22, 0.733);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-right: 15px;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}

.iniciarSesion h1 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 2.8em;
  color: white;
}

.iniciarSesion input {
  border: none;
  border-radius: 10px;
  margin: 0px 20px 15px 20px;
  height: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8em;
  width: 250px;
}

.divBotonLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.divBotonLogin .botonLogin {
  width: 110px;
  font-size: 1em;
  background: linear-gradient(50deg, #ffffff, #d8262625);
  font-family: "Courier New", Courier, monospace;
}

.botonLogin:hover {
  width: 115px;
  font-size: 1.1em;
}

span {
  color: white;
  font-size: 0.8em;
  margin-bottom: 20px;
}

.botonGoogle {
  width: 160px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.657);
  border: none;
  border-radius: 10px;
  font-family: "Newsreader", serif;
  font-size: 1.8em;
  font-weight: bold;
  outline: none;
}

.botonGoogle:hover {
  font-size: 1.92em;
}

.spanG {
  color: blue;
}
.spanO {
  color: red;
}
.spanO2 {
  color: rgb(224, 224, 22);
}
.spanG2 {
  color: blue;
}
.spanL {
  color: green;
}
.spanE {
  color: red;
}

.imagenGoogle {
  background-color: black;
}
