* {
  box-sizing: border-box;
  padding: 0%;
}

.formulario {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 10px;
  justify-content: space-around;
}

.nuevoUsuario {
  width: 450px;
  background-color: rgba(158, 22, 22, 0.733);
  display: flex;
  flex-direction: column;
  /* padding: 5px; */
  /* border-color: solid black 10px; */
  border-radius: 20px;
  margin-right: 15px;
  padding-top: 12px;
  /* justify-content: space-around; */
  /* align-items: center; */
}

.nuevoUsuario h1 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 2.8em;
  color: White;
}

.nuevoUsuario input {
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  /* color: rgba(158, 22, 22, 0.733); */
  background-color: white;
  height: 30px;
  width: 215px;
  font-size: 0.8em;
  margin-left: 118px;
}

.botonRegister {
  margin-top: 40px;
  width: 100px;
  height: 25px;
  border-radius: 50px;
}
