* {
    box-sizing: border-box;
    padding: 0%
}

.formulario {
    background-image: url(../img/Fondo.jpg);
    height: 1080px;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    margin-bottom: 10px;
    justify-content: space-around;
    align-items: center;
}

.agregarCategoria {
    width: 75%;
    height: 50%;
    background-color: rgba(158, 22, 22, 0.733);
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-color: solid black 10px;
    border-radius: 10px;
    margin-right: 15px;
    padding: 10px;
    align-items: center;
}

.agregarCategoria h1 {
    text-align: center;
    width: 75%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 20px;
    font-size: 35px;
    color: White;
}

.agregarCategoria input {
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 10px;
    padding: 10px;
    width: 75%; 
}

.agregarCategoria button {
    width: 50%;
    border-radius: 5px;
    margin: 20px;
    padding: 1px;
}