* {
    box-sizing: border-box;
    padding: 0%
}

.formulario {
    background-image: url(../img/Fondo-opB01.jpg);
    height: 745px;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    margin-bottom: 10px;
    justify-content: space-around;
    align-items: center;
}

.agregarCategoria {
    width: 75%;
    height: 75%;
    background-color: rgba(158, 22, 22, 0.733);
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-color: solid black 10px;
    border-radius: 25px 50px;
    margin-right: 15px;
    padding: 10px;
    align-items: center;
}

.agregarCategoria h1 {
    text-align: center;
    width: 75%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 20px;
    font-size: 35px;
    color: White;
}

.agregarCategoria input {
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 10px;
    padding: 10px;
    width: 75%; 
}

.agregarCategoria input[type=submit] {
    width: 35%;
    border-bottom: 8px solid black;
    border-right: 7px solid black;
    border-radius: 12px;
    font-size: 25px;
    background-color: brown;
    color: white;
    font-weight: bolder;
}