* {
  box-sizing: border-box;
  padding: 0%;
}

.divAgregarCategoria {
  background-image: url("../img/vinos2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 339px;
  justify-content: space-around;
}

.agregarCategoria {
  width: 900px;
  margin-top: 180px;
  background-color: rgba(158, 22, 22, 0.733);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-evenly;
}

.agregarCategoria h1 {
  text-align: center;
  font-size: 2em;
  color: White;
  font-family: "Lobster Two", cursive;
  padding: 0px;
  margin: 20px;
}

.agregarCategoria input {
  border: none;
  border-radius: 10px;
  margin: 0px 20px 15px 20px;
  height: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8em;
}

.divBotonAC {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.botonAC {
  width: 120px;
  font-size: 1.9em;
  background: linear-gradient(50deg, #ffffff, #d8262625);
  font-family: "Great Vibes", cursive;
}

.botonAC:hover {
  width: 125px;
  font-size: 1em;
}
