* {
  box-sizing: border-box;
  padding: 0%;
}

body {
  background-color: #c4c4c4;
}
/* DIV-APP GENERAL */

/* NAVBAR */

.divNavbarUser {
  display: flex;
  align-items: center;
  /* background-color: rgba(158, 22, 22, 0.733); */
  background-color: #c4c4c4;
  justify-content: space-between;
  height: 50px;
  background-color: rgba(158, 22, 22, 0.733);
}

.divLinksUser {
  font-family: "Amatic SC", cursive;
  margin-left: 10px;
}

.divLinksUser a {
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.divNavbarUser a:hover {
  color: rgba(255, 255, 255, 0.692);
  text-decoration: none;
  border-bottom: 2px solid rgb(255, 255, 255);
}
